@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    color: rgb(59 130 246) !important;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.loading-animation {
    animation: fadeInScale 0.6s ease-out;
}